<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.tokopedia.myapplication">

    <application
            android:allowBackup="true"
            android:name=".MyApplication"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".computeandmemory.CachingActivity"
                android:label="@string/title_activity_caching_exercise"
                android:parentActivityName=".MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>

        <activity
                android:name=".computeandmemory.BusyUIThreadActivity"
                android:label="@string/title_activity_busy_ui_exercise"
                android:parentActivityName=".MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>

        <activity
                android:name=".computeandmemory.MemoryChurnActivity"
                android:label="@string/title_activity_memory_churn_exercise"
                android:parentActivityName=".MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>

        <activity
                android:name=".computeandmemory.DataStructuresActivity"
                android:label="@string/title_activity_data_structure_exercise"
                android:parentActivityName=".MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>

        <activity
                android:name=".computeandmemory.MemoryLeakActivity"
                android:label="@string/title_activity_memory_leak_exercise"
                android:parentActivityName=".MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>

        <activity
                android:name=".computeandmemory.MemoryLeakOptimizedActivity"
                android:label="@string/title_activity_memory_leak_solution"
                android:parentActivityName=".MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>

        <activity
                android:name=".render1.ChatumLatinumActivity"
                android:label="@string/title_activity_gpu_overdraw_1"
                android:parentActivityName=".MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>

        <activity
                android:name=".renderoptimized1.ChatumLatinumActivity"
                android:label="@string/title_activity_gpu_overdraw_1"
                android:parentActivityName=".MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>

        <activity
                android:name=".render2.DroidCardsActivity"
                android:label="@string/title_activity_gpu_overdraw_2"
                android:parentActivityName=".MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>

        <activity
                android:name=".renderoptimized2.DroidCardsActivity"
                android:label="@string/title_activity_gpu_overdraw_2"
                android:parentActivityName=".MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>
    </application>

</manifest>